<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
   <div class="text text-center">
        <h1>
        hello im user
    </h1>
    <h1>
        im very good
    </h1>
    <hr>
    <h2>
        im {{user.name}}
    </h2>
       <h2>
           my lastname : {{user.lastname}}
       </h2>
       <h2>
           my phone : {{user.phone}}
       </h2>
       <h2>
           my city : {{user.city}}
       </h2>
   </div>
</body>
</html>